<!DOCTYPE html>

<html>
<head>
  <script type="text/javascript" src="./../dist/app.bundle.js"></script>
</head>
<body>

<h1>sdfdfdsf</h1>

<p>My first paragrah</p>

</body>
</html>


//html
//  head
  //  title Home
  //  link(rel='stylesheet', href='css/style.css')
    //script(src="/js/jquery-3.2.1.min.js")
  //  script(src="/js/validator.min.js" async)
    //script(src="/js/moveit.js" async)
  //  script(src="/js/events.js" async)
  //  script(src="/js/index.js" async)
  //body 
    //include templates/header
    //include templates/footer
