:root {
--greenColor: rgb(141, 196, 73);
--greyColor: rgb(109,110,113);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: var(--greyColor);
}

.header {
  width: 100%;
  position: relative;
  height: 600px;
}

.contactBanner {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.consult {
  width: 50%;
  height: 100%;
  background-color: black;
  position: absolute;
}

.social {
  width: 50%;
  height: 100%;
  background-color: var(--greenColor);
  position: absolute;
  margin-left: 50%;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  bottom: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
  background-color: green;
  height: 80px;
  width: 80px;
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
}

.formBubble {
  height: 300px;
  width: 300px;
  background-color: var(--greenColor);
  position: absolute;
  right: calc(50% - 150px);
  bottom: calc(50% - 150px);
  transition: all 0.4s ease-in-out;
}

.containerBubble {
  position: fixed;
  height: 80px;
  width: 40px;
  right: 80px;
  bottom: 40px;
  transition: all 0.25s ease-in-out;

}

.containerBubble.open {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.containerBubble.open .bubble {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
  width: 450px;
  height: 450px;
  background-color: rgba(0,0,0,0);
}

.containerBubble.open .formBubble {
  background-color: white;

}

path {
  fill: none;
  stroke-width: 4;
}

path#svgTick, path#svgSuccessCircle {
  stroke: green;
  visibility: hidden;
}

path#svgX, path#svgX2, path#svgErrorCircle {
  stroke: red;
}
